@import url("https://fonts.cdnfonts.com/css/cera-round-pro-demo");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

body {
  font-family: "Cera Round Pro DEMO", sans-serif;
  padding: 0;
  margin: 0;
}

.header {
  padding-top: 25px;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-bottom: 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.3);
}

.header__list {
  padding-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.header__link {
  color: rgb(61, 61, 61);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 20px;
  border-bottom: 4px solid transparent;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header__link:hover {
  border-color: rgb(70, 163, 88);
  font-weight: 700;
}

.header__btn {
  border-radius: 6px;
  padding-top: 7px;
  padding-left: 41px;
  padding-right: 17px;
  padding-bottom: 7px;
  background-color: rgb(70, 163, 88);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  background-image: url("/img/header-login-icon.svg");
  background-repeat: no-repeat;
  background-position: center left 15px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header__btn:hover {
  opacity: 0.8;
}

.header__icon_block {
  cursor: pointer;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.header__icon_block:hover {
  opacity: 0.7;
}

.header__logo_block {
  display: inline-block;
}

.hero {
  padding-top: 20px;
}
.hero__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 53px;
  background: linear-gradient(134.56deg, rgba(245, 245, 245, 0.5) -23.457%, rgba(245, 245, 245, 0.5) 107.508%);
}
.hero__content {
  max-width: 570px;
}
.hero__des {
  color: rgb(61, 61, 61);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 10%;
  text-align: left;
  text-transform: uppercase;
}
.hero__title {
  font-size: 70px;
  font-weight: 900;
  line-height: 70px;
  text-transform: uppercase;
}
.hero__title strong {
  color: rgb(70, 163, 88);
}
.hero__text {
  color: rgb(114, 114, 114);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.hero__btn {
  display: inline-block;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  padding: 10px 27px 10px 26px;
  background: rgb(70, 163, 88);
  margin-top: 55px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.hero__btn:hover {
  opacity: 0.8;
}

.product__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.product__card_box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 40px;
}

.product__link {
  color: rgb(61, 61, 61);
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  padding-bottom: 7px;
  border-bottom: 3px solid transparent;
}
.product__link:hover {
  color: rgb(70, 163, 88);
  font-weight: 700;
  border-color: rgb(70, 163, 88);
}

.product {
  padding-top: 65px;
  padding-bottom: 100px;
}

.product__card {
  -webkit-box-shadow: 6px 9px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 6px 9px 5px 0px rgba(0, 0, 0, 0.15);
  margin-right: 40px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding-top: 8px;
}

.product__img_block {
  width: 260px;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__content {
  padding: 10px;
  margin-top: 12px;
}

.product__des {
  color: rgb(61, 61, 61);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 6px;
}

.product__price {
  color: rgb(70, 163, 88);
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
}

.product__btn {
  background: rgb(70, 163, 88);
  padding: 8px 10px;
  border: none;
  margin-top: 20px;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.product__btn:hover {
  opacity: 0.8;
}

.footer__block {
  background: rgb(251, 251, 251);
  padding-top: 33px;
  padding-left: 23px;
  padding-bottom: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 150px;
  border-bottom: 1px solid rgba(70, 163, 88, 0.2);
}

.footer__link {
  color: rgb(61, 61, 61);
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.footer__item:first-child {
  margin-bottom: 12px;
}

.footer__link_title {
  color: rgb(61, 61, 61);
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
}

.footer__social_title {
  color: rgb(61, 61, 61);
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 20px;
}

.footer__item_block:first-child {
  margin-bottom: 33px;
}

.footer__cap {
  margin-top: 10px;
  color: rgb(61, 61, 61);
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  display: block;
  text-align: center;
}

.modal {
  position: absolute;
  z-index: 90;
  background-color: rgba(0, 0, 0, 0.4666666667);
  left: 0;
  right: 0;
  height: 100vh;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}/*# sourceMappingURL=main.css.map */